@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 10;
    padding: 10;
    font-family: 'Lato', sans-serif;
}
body {
    background: rgb(255, 255, 255);
}
.upper_banner {
    font-size: 50px;
    font-weight: 500;
    border: 2px solid green;
    color: #ffffff;
    line-height: 150px;
    background :rgb(14, 17, 10,0.7)

}

.tool_kits{
    width:120px;
    height:40px;
    font-size:20px;
    cursor: pointer;
    border: solid silver;
    border-radius: 20px ;

}

.preview *{
    width: 300px;
    border: 50px #dbf10d;
    cursor: pointer;
    /*height: 50%;*/
    
}

